.chat-window {
top: 0;
left: 0;
position: relative;
float: left;
margin-left: 0px;  width:100%;
}
.chat-window .top-bar{
  background: #db0011;
}
.chat-window-container{
  width:40%;
}
.chat-window .msg-container-base{
  background: #3E505D;
  max-height: 80vh;
  overflow: auto;
}

